body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: yellow;
    padding: 50px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 50px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

label {
    margin-right: 25px;
    width: 100px; /* Adjust this width as needed */
}

input[type="number"], input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 20%;
    padding: 20px;
    background-color: blue;
    color: white;
    border: 25;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}